@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    --main: rgb(242,153,73);
    --dark: rgb(0,0,0);
    --light-dark:rgb(196,196,196);
    --light:rgb(255,255,255);
    --font-xl: 4rem;
    --font-normal: 1rem;
    --font-small: 0.75rem;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;

}
body{
    font-family: roboto;
    background-color: var(--main);
}

body > header {
    min-height: 300px;
    background-image: url("https://source.unsplash.com/200x200/?cows");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;



}
body > header h1{
    font-size: var(--font-xl);
    text-align: center;
    color: white;
}
body > header a{
    border: 1px solid black;
    justify-content: center;
}
body > header nav{
    order: -1;

}
main > section{
    margin: 1rem;

}

main > section h2{
    font-size: var(--font-xl);
    color: var(--light);
}
main >section article header {
    padding: 1rem 0 0 0;
}
main >section article header img{
    width: 100%;
}

main > section article {
    background: var(--dark) ;
    color: var(--light);
}
main > section article header {
    padding: 1rem 0;

}
main > form{
    background-color: var(--light);
    padding: 1rem;
}
main > form h2{
    color: var (var(--main));
    margin-bottom: 1rem;
}
main > form fieldset{
    border: none;
}
main > form label{
    display: block;

}